.message-container{
    width: 100%;
    position: relative;
    max-width: 850px;
    border-right: 1px solid var(--primary);
    overflow: hidden;
   
    box-sizing: border-box;
   padding-top: 40px ;
    height: 100vh ;
 

}