.message-container{
    width: 100%;
    position: relative;
    max-width: 850px;
    border-right: 1px solid var(--primary);
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  
 

}
.message-container>.item-constainer{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}